@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Sandbox";
}


<div class="container">

    <section class="row"><div class="col-4">1</div><div class="col-4">2</div><div class="col-4">3</div></section>
    <section class="row"><div class="col-4">1</div><div class="col-4">2</div><div class="col-4">3</div></section>
    <section class="row"><div class="col-4">1</div><div class="col-4">2</div><div class="col-4">3</div></section>

</div>